# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.bak

# --- Angular & Build ---
.angular/
dist/
tmp/
out-tsc/
bazel-out/
# Angular local workspace settings
.editorconfig

# --- Firebase ---
.firebase/
firebase-debug.log
ui-debug.log
firestore-debug.log

# --- Dependencies ---
node_modules/

# --- SECRETS & ENVIRONMENTS ---
# Ignore the specific environment file containing your Firebase API key
src/environments/environment.ts
src/environments/environment.prod.ts
service-account-key.json
set-admins.js

# While you aren't using .env with 'ng serve', it's good practice to keep these ignored
.env
.env.local
.env.*.local

# --- System Files ---
.DS_Store
Thumbs.db