@use '@angular/material' as mat;
@include mat.core();

$half-moon-lake-yoga-theme-primary: mat.m2-define-palette(mat.$m2-deep-orange-palette);
$half-moon-lake-yoga-theme-accent: mat.m2-define-palette(mat.$m2-cyan-palette);
$half-moon-lake-yoga-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$half-moon-lake-yoga-theme: mat.m2-define-light-theme(( 
    color: (
        primary: $half-moon-lake-yoga-theme-primary, 
        accent: $half-moon-lake-yoga-theme-accent, 
        warn: $half-moon-lake-yoga-theme-warn,
    )
));

@include mat.all-component-themes($half-moon-lake-yoga-theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}